flows.json
[
    {
        "id": "vitalsync-tab",
        "type": "tab",
        "label": "VitalSync IoT",
        "disabled": false
    },
    {
        "id": "ui-tab",
        "type": "ui_tab",
        "name": "VitalSync",
        "icon": "fa-heartbeat",
        "order": 1
    },
    {
        "id": "ui-base",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif"
            }
        },
        "site": {
            "name": "VitalSync Monitor",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": { "sx": 48, "sy": 48, "gx": 6, "gy": 6, "cx": 6, "cy": 6, "px": 0, "py": 0 }
        }
    },
    {
        "id": "auth-group",
        "type": "ui_group",
        "name": "Login",
        "tab": "ui-tab",
        "order": 1,
        "width": "6"
    },
    {
        "id": "vitals-group",
        "type": "ui_group",
        "name": "Vital Signs",
        "tab": "ui-tab",
        "order": 2,
        "width": "6"
    },
    {
        "id": "email-input",
        "type": "ui_text_input",
        "z": "vitalsync-tab",
        "name": "Email",
        "label": "Email",
        "group": "auth-group",
        "order": 1,
        "width": "6",
        "height": "1",
        "mode": "email",
        "topic": "email",
        "x": 130,
        "y": 80,
        "wires": [["save-creds"]]
    },
    {
        "id": "password-input",
        "type": "ui_text_input",
        "z": "vitalsync-tab",
        "name": "Password",
        "label": "Password",
        "group": "auth-group",
        "order": 2,
        "width": "6",
        "height": "1",
        "mode": "password",
        "topic": "password",
        "x": 130,
        "y": 130,
        "wires": [["save-creds"]]
    },
    {
        "id": "save-creds",
        "type": "function",
        "z": "vitalsync-tab",
        "name": "Save",
        "func": "if (msg.topic === 'email') global.set('email', msg.payload);\nif (msg.topic === 'password') global.set('password', msg.payload);\nreturn null;",
        "outputs": 1,
        "x": 310,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "login-btn",
        "type": "ui_button",
        "z": "vitalsync-tab",
        "name": "Login",
        "group": "auth-group",
        "order": 3,
        "width": "6",
        "height": "1",
        "label": "Login",
        "bgcolor": "#4CAF50",
        "x": 130,
        "y": 180,
        "wires": [["do-login"]]
    },
    {
        "id": "do-login",
        "type": "function",
        "z": "vitalsync-tab",
        "name": "REST Login",
        "func": "const email = global.get('email');\nconst password = global.get('password');\n\nif (!email || !password) {\n    node.warn('Missing credentials');\n    return null;\n}\n\nconst apiUrl = env.get('VITALSYNC_API_URL');\nmsg.url = apiUrl + '/api/auth/login';\nmsg.method = 'POST';\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = { email, password };\nreturn msg;",
        "outputs": 1,
        "x": 310,
        "y": 180,
        "wires": [["http-login"]]
    },
    {
        "id": "http-login",
        "type": "http request",
        "z": "vitalsync-tab",
        "name": "API",
        "method": "use",
        "ret": "obj",
        "url": "",
        "x": 470,
        "y": 180,
        "wires": [["handle-auth"]]
    },
    {
        "id": "handle-auth",
        "type": "function",
        "z": "vitalsync-tab",
        "name": "Handle",
        "func": "if (msg.statusCode === 200 && msg.payload.access_token) {\n    global.set('token', msg.payload.access_token);\n    msg.payload = 'Logged in';\n} else {\n    msg.payload = msg.payload.detail || 'Login failed';\n}\nreturn msg;",
        "outputs": 1,
        "x": 610,
        "y": 180,
        "wires": [["auth-status"]]
    },
    {
        "id": "auth-status",
        "type": "ui_text",
        "z": "vitalsync-tab",
        "name": "Status",
        "group": "auth-group",
        "order": 4,
        "width": "6",
        "height": "1",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "sim-switch",
        "type": "ui_switch",
        "z": "vitalsync-tab",
        "name": "Simulation",
        "label": "Run",
        "group": "vitals-group",
        "order": 1,
        "width": "6",
        "height": "1",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "x": 140,
        "y": 280,
        "wires": [["set-sim"]]
    },
    {
        "id": "set-sim",
        "type": "function",
        "z": "vitalsync-tab",
        "name": "Set",
        "func": "global.set('simOn', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 310,
        "y": 280,
        "wires": [[]]
    },
    {
        "id": "ticker",
        "type": "inject",
        "z": "vitalsync-tab",
        "name": "1s",
        "repeat": "1",
        "once": true,
        "onceDelay": "2",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 340,
        "wires": [["gen-vitals"]]
    },
    {
        "id": "gen-vitals",
        "type": "function",
        "z": "vitalsync-tab",
        "name": "Generate",
        "func": "if (!global.get('simOn')) return null;\n\nconst hr = 60 + Math.floor(Math.random() * 40);\nconst spo2 = 94 + Math.floor(Math.random() * 6);\nconst temp = 36 + Math.random() * 1.5;\n\nmsg.payload = {\n    heartRate: hr,\n    oxygenLevel: spo2,\n    temperature: temp.toFixed(1)\n};\nreturn msg;",
        "outputs": 1,
        "x": 300,
        "y": 340,
        "wires": [["hr-gauge", "spo2-gauge", "temp-text"]]
    },
    {
        "id": "hr-gauge",
        "type": "ui_gauge",
        "z": "vitalsync-tab",
        "name": "HR",
        "group": "vitals-group",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Heart Rate",
        "label": "bpm",
        "format": "{{msg.payload.heartRate}}",
        "min": 40,
        "max": 160,
        "colors": ["#F44336", "#4CAF50", "#F44336"],
        "seg1": "60",
        "seg2": "100",
        "x": 470,
        "y": 300,
        "wires": []
    },
    {
        "id": "spo2-gauge",
        "type": "ui_gauge",
        "z": "vitalsync-tab",
        "name": "SpO2",
        "group": "vitals-group",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "SpO2",
        "label": "%",
        "format": "{{msg.payload.oxygenLevel}}",
        "min": 80,
        "max": 100,
        "colors": ["#F44336", "#FF9800", "#4CAF50"],
        "seg1": "90",
        "seg2": "95",
        "x": 470,
        "y": 360,
        "wires": []
    },
    {
        "id": "temp-text",
        "type": "ui_text",
        "z": "vitalsync-tab",
        "name": "Temp",
        "group": "vitals-group",
        "order": 4,
        "width": "6",
        "height": "1",
        "label": "Temperature:",
        "format": "{{msg.payload.temperature}} °C",
        "x": 470,
        "y": 420,
        "wires": []
    }
]
